In [1]:
tup=(1,2,3.4,5.6,"aaa","bbb")
#to add an element to tuple 
list1=list(tup)
list1
#converted to list

[1, 2, 3.4, 5.6, 'aaa', 'bbb']

In [6]:
list1=[1,2,3.4,5.6,'aaa','bbb']

In [7]:
list1.insert(0,0)
list1

[0, 1, 2, 3.4, 5.6, 'aaa', 'bbb']

In [9]:
tup1=tuple(list1)
tup1

(0, 1, 2, 3.4, 5.6, 'aaa', 'bbb')

In [10]:
tup2=(1,2,3.4,5.6,"aaa","bbb")
#to remove an element to tuple 
list2=list(tup2)
list2
#converted to list

[1, 2, 3.4, 5.6, 'aaa', 'bbb']

In [11]:
list2.remove(1)
list2

[2, 3.4, 5.6, 'aaa', 'bbb']

In [12]:
tup3=tuple(list2)
tup3

(2, 3.4, 5.6, 'aaa', 'bbb')